body {
  margin: 0;
  font-family: Arial;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content: center;
  align-items: center;
  grid-gap: 28px;
}

.post {
  display: block;
  cursor: pointer;
  position: relative;
}

.post-image {
  margin: 0;
}

.post-image img {
  width: 100%;
}

.post-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.post:hover .post-overlay {
  display: flex;
}

.post-likes, .post-comments {
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .post-list {
    grid-gap: 3px;
  }
}
